/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/

body{
    font-family: 'Montserrat';
}

.wrapper {
    height: calc(100vh - 80px);
    overflow: auto;
    display: flex;
}

/*UTILS*/

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    opacity: 0.6;
    color: white;
    transition: opacity 0.5s;
}

a:hover{
    opacity: 1;
}

/*SIDEBAR*/

.sidebar{
    flex: 0 0 60px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.sidebar-top .d-none{
    display: none;
}

.sidebar img{
    padding: 0 15px;
    padding-bottom: 5px;
}


/*MAIN*/

main{
    flex: 1 1 auto;
    overflow: auto; 
}

/*HEADER*/

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    position: sticky;
    padding-right: 5px;
    margin-bottom: 20px;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.header-btn a{
    border: 1px solid white;
    border-radius: 50px;
    background-color: #282828;
    padding: 5px 20px;
    color: white;
    font-size: 12px;
}

/*FOOTER*/

footer {
    height: 80px;
    background-color: #282828;
}


/********************************/
/******** RESPONSIVE ************/
/********************************/

@media screen and (min-width: 425px){

}

@media screen and (min-width: 640px){
    .sidebar{
        flex-basis: 250px;
    }

    .sidebar-top .d-none{
        display: flex;
        padding-right: 50px;
    }

    .sidebar-top .d-flex{
        display: none;
    }

    .sidebar-menu li{
        display: flex;
    }
    
    .sidebar-menu a{
        display: flex;
        align-items: center;
    }

    .icon{
        max-width: 30px;
    }

}

@media screen and (min-width: 880px){

}

@media screen and (min-width: 1200px){

}