/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/

body{
    font-family: 'Montserrat';
}

.container {
    display: flex;
    height: calc(100vh - 80px);
}
  
.content {
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 50px;
    background-color: black;
}
  
.header {
    height: 80px;
    background-color: #282828;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
  
.main-text {
    overflow: auto;
    padding: 20px;
}

/*FOOTER*/

footer {
    height: 80px;
    background-color: #282828;
}


/********************************/
/******** RESPONSIVE ************/
/********************************/

@media screen and (min-width: 425px){

}

@media screen and (min-width: 640px){

}

@media screen and (min-width: 880px){

}

@media screen and (min-width: 1200px){

}